.navbar {
    background-color: #1074f1;
}
.navbar .navbar-brand {
    color: black;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #06010c;
}
.navbar .navbar-text {
    color: black;
}
.navbar .navbar-text a {
    color: #06010c;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #06010c;
}
.navbar .navbar-nav .nav-link {
    color: black;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #06010c;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #06010c;
    background-color: #1a9ec0;
}
.navbar .navbar-toggle {
    border-color: #1a9ec0;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #1a9ec0;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: black;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: black;
}
.navbar .navbar-link {
    color: black;
}
.navbar .navbar-link:hover {
    color: #06010c;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: black;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #06010c;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #06010c;
        background-color: #1a9ec0;
    }
    .parallax {
        /* L’image du Parallax */
        background-image: url("../img/mercedes amg 900 px.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax2 {
        /* L’image du Parallax */
        background-image: url("../img/challenger wallpaper.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax3 {
        /* L’image du Parallax */
        background-image: url("../img/toyota gt86 wallpaper.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: black;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #06010c;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #06010c;
        background-color: #1a9ec0;
    }
    .parallax {
        /* L’image du Parallax */
        background-image: url("../img/mercedes amg 900 px.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax2 {
        /* L’image du Parallax */
        background-image: url("../img/challenger wallpaper.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax3 {
        /* L’image du Parallax */
        background-image: url("../img/toyota gt86 wallpaper.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: black;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #06010c;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #06010c;
        background-color: #1a9ec0;
    }
    .parallax {
        /* L’image du Parallax */
        background-image: url("../img/mercedes amg 900 px.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax2 {
        /* L’image du Parallax */
        background-image: url("../img/challenger wallpaper.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax3 {
        /* L’image du Parallax */
        background-image: url("../img/toyota gt86 wallpaper.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: black;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #06010c;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #06010c;
        background-color: #1a9ec0;
    }
    .parallax {
        /* L’image du Parallax */
        background-image: url("../img/mercedes-amg-parallax.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax2 {
        /* L’image du Parallax */
        background-image: url("../img/challenger wallpaper.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax3 {
        /* L’image du Parallax */
        background-image: url("../img/toyota gt86 wallpaper.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: black;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #06010c;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #06010c;
    background-color: #1a9ec0;
}
.bg{
    background-color: #16181b;
}
.image{
    height: 100%;
}
body{
    background-color: white;
}
header {
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
}html,body { margin:0; height:100%;}

.parallax {
    /* L’image du Parallax */
    background-image: url("../img/mercedes-amg-parallax.jpg");

    /* L’hauteur du Parallax */
    height: 100%;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 991px) {
    .parallax {
        /* L’image du Parallax */
        background-image: url("../img/mercedes amg 900 px.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.vert{
    background-color: green;
}
.parallax2 {
    /* L’image du Parallax */
    background-image: url("../img/challenger wallpaper.jpg");

    /* L’hauteur du Parallax */
    height: 100%;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 991px) {
    .parallax2 {
        /* L’image du Parallax */
        background-image: url("../img/challenger 900 px.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.parallax3 {
    /* L’image du Parallax */
    background-image: url("../img/toyota gt86 wallpaper.jpg");

    /* L’hauteur du Parallax */
    height: 100%;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 991px) {
    .parallax3 {
        /* L’image du Parallax */
        background-image: url("../img/gt86 900px.jpg");

        /* L’hauteur du Parallax */
        height: 100%;

        /* Création de l’effet */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}